@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  overflow-x: hidden !important;
}


* {
  font-family: Poppins;

}   

.slick-dots.li.button li.slick-active div {
  background-color: white!important;
  border-radius: 2px;
}